body {
    background-color: rgb(202, 158, 108);
  }
  h1 {
    color: rgb(126, 26, 26);
  }
  p {
    color: rgb(47, 0, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
  }
.green-comic{
  background-color: green;
  font-family: "Comic Sans MS";
  font-size: x-large;
}