body {
    background-color: rgb(202, 158, 108);
  }
  h1 {
    color: rgb(126, 26, 26);
  }
  p {
    color: rgb(7, 2, 27);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
  }
.green-comic{
  background-color: green;
  font-family: "Comic Sans MS";
  font-size: x-large;
}
.awesome{
  color: green;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 100px;
}